Repository one-covenant/grail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pyright

ruff-check:
  name: ruff (lint)
  entry: uv run ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff (format)
  entry: uv run ruff format
  language: system
  require_serial: true

pyright:
  name: pyright (typecheck)
  entry: uv run pyright grail
  language: system
  pass_filenames: false
  require_serial: true

feat(config): increase token limits to 8k and switch to triton_kernel env
  grail/cli/mine.py
  grail/schemas/rollout.py
  grail/shared/constants.py
  grail/trainer/checkpoint_publisher.py
  grail/trainer/config.py
Due: ruff-check, ruff-format, pyright

fix(tests): update _FakeAdapter signatures to match env_params addition
  tests/integration/validation/test_pipeline_golden.py
Due: ruff-check, ruff-format, pyright

docs(miner): document multi-environment support and pipeline mode
  docs/miner.md
Due: none

feat(eval): add persistent worker pool backend and extract shared eval logic
  grail/environments/gpu_kernel/eval_backends/__init__.py
  grail/environments/gpu_kernel/eval_backends/persistent_backend.py
  grail/environments/gpu_kernel/eval_backends/subprocess_backend.py
  grail/environments/gpu_kernel/task_sources.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_eval_backend_bench.py
  tests/integration/environments/test_persistent_backend_gpu_integration.py
  tests/unit/environments/test_eval_backend_unit.py
  tests/unit/environments/test_persistent_backend_unit.py
Due: ruff-check, ruff-format, pyright

feat(mining): integrate pipelined generation loop into miner neuron
  grail/cli/mine.py
  grail/neurons/miner.py
  tests/unit/mining/__init__.py
  tests/unit/mining/test_config.py
  tests/unit/mining/test_engine.py
Due: ruff-check, ruff-format, pyright

fix(mining): reject internal model names when resolving vLLM tokenizer
  grail/mining/weight_sync.py
  tests/unit/mining/test_weight_sync.py
Due: ruff-check, ruff-format, pyright

docs(validator): update GPU requirements for triton kernel evaluation
  compute.min.yaml
  docker/docker-compose.validator.yml
  docs/validator.md
Due: none

docs(config): add kernel eval and pipeline mining sections to .env.example
  .env.example
Due: none

docs(miner): update debugging guide for triton kernel environment
  docs/miner-debugging.md
Due: none

feat(infra): validate checkpoint metadata before mining and validation
  grail/infrastructure/checkpoint_consumer.py
  grail/validation/miner_validator.py
  tests/unit/infrastructure/test_checkpoint_cleanup.py
Due: ruff-check, ruff-format, pyright

feat(mining): add 3-GPU pipelined mining engine with weight sync
  grail/infrastructure/checkpoint_consumer.py
  grail/mining/__init__.py
  grail/mining/config.py
  grail/mining/engine.py
  grail/mining/proof_worker.py
  grail/mining/weight_sync.py
  grail/trainer/inference_server.py
Due: ruff-check, ruff-format, pyright

refactor(mining): batch forward passes in proof generation
  grail/environments/loop.py
Due: ruff-check, ruff-format, pyright

style: fix formatting and trailing whitespace
  docker/cleanup.sh
  docs/local-subnet-testing.md
  tests/integration/environments/test_affine_envs_integration.py
  tests/integration/environments/test_python_code_execution.py
  tests/proof_test_utils.py
  tests/unit/environments/test_affine_logic_env_unit.py
  tests/unit/environments/test_affine_trace_env_unit.py
  tests/unit/environments/test_kernel_factory_registry_unit.py
  tests/unit/environments/test_kernel_task_sources_unit.py
  tests/unit/environments/test_triton_kernel_env_unit.py
Due: ruff-check, ruff-format, pyright

refactor(validation): pre-compute batched forward passes for rollout validation
  grail/validation/context.py
  grail/validation/miner_validator.py
  grail/validation/validators/proof.py
Due: ruff-check, ruff-format, pyright

refactor(protocol): vectorize proof commitment creation
  grail/protocol/grail_verifier.py
  tests/proof_test_utils.py
  tests/unit/protocol/test_proof_unit.py
Due: ruff-check, ruff-format, pyright

test(kernel): use KERNEL_EVAL_* constants in integration tests
  tests/integration/environments/test_triton_kernel_gpu_integration.py
  tests/unit/environments/kernel_test_helpers.py
Due: ruff-check, ruff-format, pyright

feat(validation): wire dynamic env config from checkpoint metadata
  grail/validation/service.py
  grail/validation/window_processor.py
  tests/integration/test_dynamic_env_config.py
Due: ruff-check, ruff-format, pyright

refactor(mining): use shared forward_single_layer in batched forward pass
  grail/environments/loop.py
Due: ruff-check, ruff-format, pyright

fix(trainer): fuse entropy into compute_logprobs to eliminate OOM
  grail/trainer/algorithms/grpo.py
  tests/trainer/test_grpo_unit.py
Due: ruff-check, ruff-format, pyright

refactor(model): move forward_single_layer to grail.model.forward
  grail/model/forward.py
Due: ruff-check, ruff-format, pyright

chore(trainer): add memory telemetry
  grail/trainer/training_process.py
Due: ruff-check, ruff-format, pyright

feat(validation): batched logprob precomputation at challenged positions
  grail/validation/context.py
  grail/validation/miner_validator.py
  grail/validation/validators/environment.py
  grail/validation/validators/proof.py
  tests/integration/validation/test_pipeline_golden.py
  tests/unit/validation/test_logprob_parallelization.py
Due: ruff-check, ruff-format, pyright

feat(mining): zero-downtime vLLM weight sync via sleep/wake/reload
  .env.example
  docs/miner.md
  grail/mining/config.py
  grail/mining/weight_sync.py
Due: ruff-check, ruff-format, pyright

chore(trainer): add chunked logits config and tune replay buffer
  grail/shared/constants.py
  grail/trainer/config.py
Due: ruff-check, ruff-format, pyright

feat(trainer): chunked logit computation to reduce peak GPU memory
  grail/trainer/algorithms/grpo.py
  tests/trainer/test_grpo_unit.py
Due: ruff-check, ruff-format, pyright

chore: update tooling config, README, and scripts
  README.md
  pyproject.toml
  scripts/clear_r2.py
  tools/vllm-server/pyproject.toml
Due: pyright

fix: resolve all 20 pyright errors to unblock CI
  grail/environments/affinetes/task_sources.py
  grail/environments/gpu_kernel/task_sources.py
  grail/mining/proof_worker.py
  grail/model/forward.py
  grail/neurons/miner.py
Due: ruff-check, ruff-format, pyright

chore(validation): reduce max rollout file size from 500MB to 250MB
  grail/shared/constants.py
Due: ruff-check, ruff-format, pyright

chore(validation): reduce max rollout file size to 150MB
  grail/shared/constants.py
Due: ruff-check, ruff-format, pyright

fix(mining): use ROLLOUTS_PER_PROBLEM constant for nonce calculation
  grail/cli/mine.py
Due: ruff-check, ruff-format, pyright

docs(all): align docs, configs, and constants with current codebase
  .env.example
  README.md
  compute.min.yaml
  docker/docker-compose.validator.yml
  docs/miner.md
  docs/validator.md
  grail/environments/gpu_kernel/env.py
  grail/environments/gpu_kernel/eval_backends/__init__.py
  grail/environments/gpu_kernel/eval_backends/basilica_backend.py
  grail/environments/loop.py
  grail/shared/constants.py
  grail/validation/miner_validator.py
Due: ruff-check, ruff-format, pyright

style: fix GRAIL ASCII art alignment in README
  README.md
Due: none

chore: remove unused os imports flagged by ruff
  grail/environments/loop.py
  grail/validation/miner_validator.py
Due: ruff-check, ruff-format, pyright

chore: bump version to 0.0.51
  grail/__init__.py
Due: ruff-check, ruff-format, pyright

refactor(docker): rewrite Dockerfile with CUDA devel base and uv-managed Python
  docker/Dockerfile
Due: none

fix(docker): fix compose issues for validator and grafana
  docker/compose.grafana.yaml
  docker/docker-compose.validator.yml
Due: none

chore(docker): remove stale compose files, scripts, and docs
  docker/DISK_SPACE_MANAGEMENT.md
  docker/README.md
  docker/cleanup.sh
  docker/docker-compose.integration.yml
  docker/docker-compose.local-subnet.yml
  docs/local-subnet-testing.md
Due: none

docs(docker): update validator prereqs, storage config, and CI workflow
  .env.example
  .github/workflows/docker-publish.yml
  docs/validator.md
Due: none

fix: set TRAINER_UID to 0
  grail/shared/constants.py
Due: ruff-check, ruff-format, pyright

fix(proof): use sqrt-based adaptive sketch tolerance for long sequences
  grail/protocol/grail_verifier.py
  grail/shared/constants.py
  tests/unit/protocol/test_proof_unit.py
Due: ruff-check, ruff-format, pyright

Path conditions:
  ruff-check: any of: \.py$, but not: ^(scripts/|research/)
  ruff-format: any of: \.py$, but not: ^(scripts/|research/)
  pyright: any of: \.py$
