Repository one-covenant/grail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pyright

.pre-commit-config.yaml:

# Pre-commit hooks using uv run to ensure version consistency with CI
# Install: pre-commit install
# Run manually: pre-commit run --all-files
#
# All Python tools (ruff, pyright) use uv run to match exact versions in uv.lock
# This ensures local pre-commit checks match CI exactly.

repos:
  # Local hooks using uv run - matches CI exactly
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff (lint)
        entry: uv run ruff check --fix
        language: system
        types: [python]
        require_serial: true
        exclude: ^(scripts/|research/)

      - id: ruff-format
        name: ruff (format)
        entry: uv run ruff format
        language: system
        types: [python]
        require_serial: true
        exclude: ^(scripts/|research/)

      - id: pyright
        name: pyright (typecheck)
        entry: uv run pyright grail
        language: system
        types: [python]
        pass_filenames: false
        require_serial: true

  # Basic file quality checks (version-insensitive, safe to use from remote)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
      - id: end-of-file-fixer
        name: fix end of files
      - id: check-yaml
        name: check yaml syntax
      - id: check-toml
        name: check toml syntax
      - id: check-added-large-files
        args: [--maxkb=1000]
        name: check for large files
      - id: detect-private-key
        name: detect private keys
      - id: check-merge-conflict
        name: check for merge conflicts

fix(offline_trainer): add tenacity dependency required by grail.trainer.evaluator
  research/offline_trainer/pyproject.toml
Due: none

fix(offline_trainer): fix chat template call and save template file for vLLM
  research/offline_trainer/src/grail_offline/pipelines/offline_grpo.py
Due: pyright

fix(offline_trainer): add pytest.mark.asyncio for strict asyncio mode
  research/offline_trainer/tests/test_offline_trainer.py
Due: pyright

style(offline_trainer): fix trailing whitespace in config files
  research/offline_trainer/.gitignore
  research/offline_trainer/conf/gsm8k_100iter.yaml
  research/offline_trainer/conf/offline_grpo.yaml
  research/offline_trainer/conf/quick_test.yaml
Due: none

chore(offline_trainer): update uv.lock with tenacity dependency
  research/offline_trainer/uv.lock
Due: none

fix(offline_trainer): ensure reliable logprob fallback for importance sampling
  research/offline_trainer/src/grail_offline/data/offline_rollouts.py
Due: pyright

fix(infrastructure): correct destroy_pods to not expect return value from destroy()
  research/infrastructure/deploy_parallel.py
Due: pyright

style(research): apply ruff formatting and fix lint issues
  research/infrastructure/debug_executors.py
  research/infrastructure/deploy.py
  research/infrastructure/example_simple.py
  research/infrastructure/experiment_configs.py
  research/infrastructure/experiment_runner.py
  research/infrastructure/lium_manager.py
  research/infrastructure/nohup_experiment_runner.py
  research/infrastructure/r2_uploader.py
  research/infrastructure/test_lium_api.py
  research/infrastructure/test_lium_manager.py
  research/trl/analysis_integration_example.py
  research/trl/delta_checkpoint_callback.py
  research/trl/run_parallel_training.py
  research/trl/train_trl_grpo.py
Due: pyright

chore(offline_trainer): update configs and pipeline formatting
  research/offline_trainer/.gitignore
  research/offline_trainer/conf/gsm8k_100iter.yaml
  research/offline_trainer/conf/offline_grpo.yaml
  research/offline_trainer/conf/quick_test.yaml
  research/offline_trainer/run_training_simple.py
  research/offline_trainer/src/grail_offline/pipelines/offline_grpo.py
  research/offline_trainer/tests/test_gpu_integration.py
Due: pyright

feat(infrastructure): add Qwen pod deployment scripts
  research/infrastructure/create_qwen_pods.py
  research/infrastructure/deploy_qwen_only.py
  research/infrastructure/run_active_models.sh
Due: pyright

chore(trl): update uv.lock
  research/trl/uv.lock
Due: none

chore(infrastructure): add .claude and generated files to gitignore
  research/infrastructure/.gitignore
Due: none

feat(trl): add profiler infrastructure and logging to GRPO training
  research/trl/delta_checkpoint_callback.py
  research/trl/train_trl_grpo.py
Due: pyright

feat(trl): enhance parallel training configuration (nccl port conflicts) and logging
  research/trl/run_parallel_training.py
  research/trl/run_parallel_training_nohup.sh
  research/trl/train_trl_grpo.py
Due: pyright

feat(metrics): add cpu-based sparsity computation and gradient histogram
  grail/trainer/analysis/metrics/gradient_sparsity.py
Due: ruff-check, ruff-format, pyright

chore(pre-commit): update pre-commit configuration and hooks
  .pre-commit-config.yaml
Due: none

chore(r2_uploader): update type hints and improve error logging
  research/infrastructure/r2_uploader.py
Due: pyright

feat(infrastructure): introduce Basilica infrastructure manager and deployment script
  research/infrastructure/basilica_manager.py
  research/infrastructure/deploy_parallel_basilica.py
Due: pyright

feat(trl): introduce shared callbacks and enhance parallel training script
  research/trl/callbacks.py
  research/trl/run_parallel_training.py
  research/trl/run_parallel_training_nohup.sh
  research/trl/train_trl_grpo.py
Due: pyright

feat(trl): implement parallel SFT training with nohup support
  research/trl/PARALLEL_TRAINING_README.md
  research/trl/run_parallel_sft.py
  research/trl/run_parallel_sft_nohup.sh
  research/trl/train_trl_sft.py
Due: pyright

feat(sparsity): add scripts for K-step sparsity computation
  scripts/compute_k_step_sparsity.py
  scripts/compute_k_step_sparsity_extra.py
  scripts/compute_k_step_sparsity_parallel.py
  scripts/launch_parallel_sparsity.sh
Due: pyright

feat(codec): add v2/v3/v3.1 sparse delta formats
  .env.example
  grail/infrastructure/checkpoint_consumer.py
  grail/infrastructure/delta_checkpoint.py
  grail/infrastructure/sparse_codec.py
  grail/shared/checkpoint_paths.py
  grail/shared/constants.py
  grail/trainer/checkpoint_publisher.py
  tests/integration/infrastructure/test_delta_checkpoint_flow.py
  tests/unit/infrastructure/test_delta_checkpoint.py
  tests/unit/infrastructure/test_sparse_codec.py
Due: ruff-check, ruff-format, pyright

fix(codec): use COO-baseline ratios and default v2 codec
  .env.example
  grail/infrastructure/sparse_codec.py
  grail/shared/constants.py
  grail/trainer/checkpoint_publisher.py
  grail/trainer/upload_worker.py
Due: ruff-check, ruff-format, pyright

feat(benchmark): add compression benchmark script for sparse delta checkpoints
  scripts/benchmark_compression_standard.py
Due: pyright

chore(env): update training configuration parameters for GRPO
  .env.example
Due: none

fix(trainer): improve heartbeat handling during training initialization
  grail/neurons/trainer.py
Due: ruff-check, ruff-format, pyright

fix(trainer): resolve the issue with evaluation phase race condition
  grail/neurons/trainer.py
  grail/trainer/ipc.py
Due: ruff-check, ruff-format, pyright

fix(trainer): resolve the issue with wrong naming of grpo_max_groups
  grail/trainer/algorithms/grpo.py
Due: ruff-check, ruff-format, pyright

feat(grpo): update GRPO algorithm implementation
  grail/trainer/algorithms/grpo.py
Due: ruff-check, ruff-format, pyright

feat(offline_trainer): add offline rollouts data handling
  research/offline_trainer/src/grail_offline/data/offline_rollouts.py
Due: pyright

refactor(infrastructure): update distributed training pod deployment and management
  research/infrastructure/create_qwen_pods.py
  research/infrastructure/debug_executors.py
  research/infrastructure/deploy.py
  research/infrastructure/deploy_parallel.py
  research/infrastructure/deploy_qwen_only.py
  research/infrastructure/example_simple.py
  research/infrastructure/experiment_configs.py
  research/infrastructure/experiment_runner.py
  research/infrastructure/lium_manager.py
  research/infrastructure/nohup_experiment_runner.py
  research/infrastructure/test_lium_api.py
  research/infrastructure/test_lium_manager.py
Due: pyright

docs(trl): add integration analysis example
  research/trl/analysis_integration_example.py
Due: pyright

refactor(scripts): update benchmarking and sparsity computation utilities
  scripts/benchmark_compression_standard.py
  scripts/clear_r2.py
  scripts/compute_k_step_sparsity.py
Due: pyright

feat(scripts): add analysis, visualization, and sparsity computation scripts
  results/create_amc_bar_plot.py
  results/create_bar_plot.py
  results/create_bucketing_comparison.py
  results/create_combined_plots.py
  results/create_comparison_plot.py
  results/create_grail_vs_trl.py
  results/create_gsm8k_bar_plot.py
  results/create_plots.py
  retrieve_uid0_credentials.py
  scripts/analyze_coo_vs_flat_fair.py
  scripts/analyze_delta_distributions.py
  scripts/benchmark_compression_production.py
  scripts/benchmark_delta_compression.py
  scripts/benchmark_delta_compression_final.py
  scripts/benchmark_delta_compression_light.py
  scripts/benchmark_delta_compression_v2.py
  scripts/benchmark_delta_compression_v3.py
  scripts/benchmark_delta_encoding_all_algos.py
  scripts/benchmark_delta_encoding_simple.py
  scripts/benchmark_flat_vs_coo.py
  scripts/benchmark_v3_1_downscaling.py
  scripts/compare_delta_vs_actual_weights.py
  scripts/compute_k_step_sparsity_new_downloads.py
  scripts/compute_k_step_sparsity_remaining.py
  scripts/compute_sft_sparsity.py
  scripts/deduplicate_sparsity_csvs.py
  scripts/download_experiments.py
  scripts/download_lr_sweep.py
  scripts/download_missing.py
  scripts/plot_compression_bandwidth_tradeoff.py
  scripts/plot_lr_sparsity_over_steps.py
  scripts/plot_sft_vs_grpo_sparsity.py
  scripts/plot_sparsity_bars.py
  scripts/test_k_step_sparsity.py
  scripts/test_precision_and_models.py
  scripts/upload_sparsity_csvs.py
  scripts/visualize_actual_weights_benchmark.py
  scripts/visualize_compression_benchmark.py
  scripts/visualize_v3_benchmark.py
Due: ruff-check, ruff-format, pyright

feat(analysis): add visualization and comparison scripts for sparsity analysis
  research/analysis/Makefile
  research/analysis/scripts/__init__.py
  research/analysis/scripts/benchmark_bars.py
  research/analysis/scripts/compare_training_methods.py
  research/analysis/scripts/comparisons.py
  research/analysis/scripts/generate_all.py
  research/analysis/scripts/learning_curves.py
  research/analysis/scripts/style.py
Due: pyright

feat(verl): add VERL-based GRPO training and reward functions
  research/verl/reward_functions.py
  research/verl/train_verl_grpo.py
Due: pyright

feat(trainer): enhance delta checkpointing and add FP32 master weights support
  research/trl/delta_checkpoint_callback.py
  research/trl/run_parallel_training.py
  research/trl/run_parallel_training_nohup.sh
  research/trl/train_trl_grpo.py
Due: pyright

feat(scoring): add toggle to disable UNIQUE_ROLLOUTS_CAP
  grail/neurons/validator.py
  grail/scoring/weights.py
  grail/shared/constants.py
  tests/integration/test_validation_service.py
  tests/unit/test_weight_computer.py
Due: ruff-check, ruff-format, pyright

feat(trust): add validator-published trust list via R2
  grail/shared/constants.py
  grail/trainer/training_process.py
  grail/trainer/trust.py
  grail/validation/service.py
  tests/unit/trainer/test_trust.py
  tests/unit/validation/test_trust_list_publish.py
Due: ruff-check, ruff-format, pyright
