Repository one-covenant/grail: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, pyright

ruff-check:
  name: ruff (lint)
  entry: uv run ruff check --fix
  language: system
  require_serial: true

ruff-format:
  name: ruff (format)
  entry: uv run ruff format
  language: system
  require_serial: true

pyright:
  name: pyright (typecheck)
  entry: uv run pyright grail
  language: system
  pass_filenames: false
  require_serial: true

feat(proof): increase CHALLENGE_K from 16 to 32
  README.md
  grail/cli/mine.py
  grail/protocol/grail_verifier.py
  grail/schemas/rollout.py
  grail/shared/constants.py
  grail/validation/miner_validator.py
  grail/validation/validators/proof.py
Due: ruff-check, ruff-format, pyright

feat(proof): reduce PROOF_NUM_BUCKETS from 16 to 8
  grail/protocol/grail_verifier.py
  grail/shared/constants.py
  tests/unit/protocol/test_proof_unit.py
Due: ruff-check, ruff-format, pyright

feat(scoring): enable unique rollouts cap at 2500 per window
  grail/scoring/weights.py
  grail/shared/constants.py
  tests/unit/test_weight_computer.py
Due: ruff-check, ruff-format, pyright

docs(incentive): add incentive mechanism doc
  docs/incentive-mechanism.md
Due: none

docs(incentive): clarify soft failure gating behavior
  docs/incentive-mechanism.md
Due: none

feat(observability): add Grafana miner leaderboard dashboard
  docker/grafana/dashboards/grail-leaderboard.json
  grail/validation/service.py
Due: ruff-check, ruff-format, pyright

perf(parquet): use zstd compression and float32 logprobs
  grail/infrastructure/parquet_io.py
Due: ruff-check, ruff-format, pyright

test(parquet): update fixtures after removing dead rollout fields
  tests/integration/test_miner_validator_proofs.py
  tests/integration/validation/test_pipeline_golden.py
  tests/test_null_group_inflation.py
  tests/test_parquet_io.py
Due: ruff-check, ruff-format, pyright

refactor(mining): strip dead rollout fields from payload and HF upload
  grail/cli/mine.py
  grail/infrastructure/comms.py
Due: ruff-check, ruff-format, pyright

refactor(schemas): remove trajectory, assignment, satisfied_clauses
  grail/environments/loop.py
  grail/schemas/rollout.py
Due: ruff-check, ruff-format, pyright

feat(validation): raise max rollout file size from 150 MB to 350 MB
  grail/shared/constants.py
Due: ruff-check, ruff-format, pyright

feat(observability): add validator structured log emitters
  grail/validation/service.py
  grail/validation/window_processor.py
Due: ruff-check, ruff-format, pyright

feat(observability): add Grafana ops dashboard for structured logs
  docker/grafana/dashboards/grail-ops-dashboard.json
Due: none

feat(observability): add miner structured log emitters
  grail/cli/mine.py
  grail/mining/engine.py
  grail/neurons/miner.py
Due: ruff-check, ruff-format, pyright

feat(validation): propagate failure_reason through validation pipeline
  grail/validation/miner_validator.py
  grail/validation/types.py
Due: ruff-check, ruff-format, pyright

feat(validation): raise max rollout file size to 500 MB and bump version to 0.0.56
  grail/__init__.py
  grail/shared/constants.py
Due: ruff-check, ruff-format, pyright

fix(mining): fix SGLang server manager subprocess and config bugs
  grail/trainer/inference_server.py
Due: ruff-check, ruff-format, pyright

feat(deps): add sglang optional dependency group
  pyproject.toml
Due: none

refactor(environments): split loop.py into focused modules
  grail/__init__.py
  grail/environments/__init__.py
  grail/environments/advantages.py
  grail/environments/backends/__init__.py
  grail/environments/backends/base.py
  grail/environments/backends/hf.py
  grail/environments/backends/sglang.py
  grail/environments/backends/vllm.py
  grail/environments/episode.py
  grail/environments/loop.py
  grail/environments/proofs.py
  grail/environments/rollout.py
Due: ruff-check, ruff-format, pyright

refactor(environments): update imports for loop.py split and add tests
  grail/cli/mine.py
  grail/mining/engine.py
  grail/mining/proof_worker.py
  grail/mining/weight_sync.py
  grail/trainer/evaluator.py
  research/offline_trainer/src/grail_offline/data/offline_rollouts.py
  research/offline_trainer/tests/smoke_test.py
  research/offline_trainer/tests/test_offline_trainer.py
  tests/fixtures/fakes.py
  tests/integration/test_evaluator_end_to_end.py
  tests/integration/test_miner_validator_proofs.py
  tests/trainer/test_grpo_gpu_real_data.py
  tests/unit/environments/test_loop_generation_helpers.py
  tests/unit/environments/test_loop_pipeline.py
  tests/unit/environments/test_refactored_modules.py
Due: ruff-check, ruff-format, pyright

feat(protocol): upgrade to proof v2, drop indices from commitments
  grail/protocol/grail_verifier.py
  grail/protocol/signatures.py
  grail/shared/constants.py
  grail/validation/validators/proof.py
  tests/integration/protocol/test_proof_cross_framework.py
  tests/proof_test_utils.py
  tests/unit/protocol/test_proof_unit.py
Due: ruff-check, ruff-format, pyright

perf(trainer): increase vLLM GPU utilization and concurrency defaults
  grail/mining/config.py
Due: ruff-check, ruff-format, pyright

perf(trainer): increase vLLM GPU utilization and concurrency defaults
  grail/trainer/config.py
Due: ruff-check, ruff-format, pyright

fix(validation): add explicit int/float casts in structured log entries
  grail/validation/service.py
  grail/validation/window_processor.py
Due: ruff-check, ruff-format, pyright

feat(observability): update Grafana dashboards with cross-links and home hub
  docker/grafana/dashboards/grail-home.json
  docker/grafana/dashboards/grail-leaderboard.json
  docker/grafana/dashboards/grail-ops-dashboard.json
  docker/grafana/dashboards/grail-public-log-explorer.json
Due: none

feat(offline-trainer): add LR scheduler, gradient checkpointing, GRPO variants
  research/offline_trainer/conf/gsm8k_100iter.yaml
  research/offline_trainer/conf/offline_grpo.yaml
  research/offline_trainer/src/grail_offline/pipelines/offline_grpo.py
Due: pyright

fix(validation): replace None with safe defaults in structured log fields
  grail/validation/service.py
  grail/validation/window_processor.py
Due: ruff-check, ruff-format, pyright

fix(deps): remove sglang optional extra to fix CI resolution failure
  pyproject.toml
Due: none

style: fix import sorting and formatting for ruff CI
  grail/cli/mine.py
  grail/environments/__init__.py
  grail/mining/engine.py
  grail/trainer/evaluator.py
  grail/validation/window_processor.py
  tests/fixtures/fakes.py
  tests/integration/test_miner_validator_proofs.py
  tests/trainer/test_grpo_gpu_real_data.py
  tests/unit/environments/test_refactored_modules.py
Due: ruff-check, ruff-format, pyright

fix(trainer): rename batch_size to micro_batch_size, reduce replay buffer to 2 windows
  grail/shared/constants.py
  grail/trainer/algorithms/grpo.py
  grail/trainer/checkpoint_publisher.py
  grail/trainer/config.py
  grail/trainer/training_process.py
  research/trl/train_trl_grpo.py
  tests/conftest.py
Due: ruff-check, ruff-format, pyright

feat(observability): add structured JSON logging pipeline for Grafana trainer dashboard
  docker/grafana/dashboards/grail-trainer-dashboard.json
  grail/logging_utils.py
  grail/neurons/trainer.py
  grail/trainer/algorithms/grpo.py
  grail/trainer/dashboard_logger.py
  grail/trainer/param_tracker.py
  grail/trainer/sparse_quality.py
  grail/trainer/training_process.py
  grail/trainer/upload_worker.py
Due: ruff-check, ruff-format, pyright

fix(infra): clean up orphaned .partial checkpoint directories
  docker/docker-compose.validator.yml
  grail/infrastructure/checkpoint_consumer.py
Due: ruff-check, ruff-format, pyright

fix(observability): fix Grafana stat panels and leaderboard dedup
  docker/grafana/dashboards/grail-home.json
  docker/grafana/dashboards/grail-leaderboard.json
  docker/grafana/dashboards/grail-ops-dashboard.json
Due: none

test(trainer): add unit tests for AdamSignDescentMetrics
  tests/unit/trainer/analysis/test_adam_sign_descent.py
Due: ruff-check, ruff-format, pyright

feat(validation): lower unique rollouts cap to 1500 and max file size to 350 MB
  grail/shared/constants.py
  tests/unit/test_weight_computer.py
Due: ruff-check, ruff-format, pyright

chore: bump version to 0.0.57
  grail/__init__.py
Due: ruff-check, ruff-format, pyright

fix(mining): use SDPA instead of Flash Attention for proof model
  grail/neurons/miner.py
Due: ruff-check, ruff-format, pyright

docs(config): add GRAIL_PIPELINE_PROOF_FLASH_ATTN to .env.example
  .env.example
Due: none

feat(eval): implement BasilicaBackend and add EvalResult.infra_error field
  grail/environments/gpu_kernel/eval_backends/__init__.py
  grail/environments/gpu_kernel/eval_backends/basilica_backend.py
Due: ruff-check, ruff-format, pyright

feat(mining): discard entire rollout group on eval infrastructure errors
  grail/environments/gpu_kernel/env.py
  grail/environments/rollout.py
  grail/mining/engine.py
Due: ruff-check, ruff-format, pyright

Path conditions:
  ruff-check: any of: \.py$, but not: ^(scripts/|research/)
  ruff-format: any of: \.py$, but not: ^(scripts/|research/)
  pyright: any of: \.py$
